@model AppRole

<h2>Update the Role</h2>
<hr>
<form asp-action="Edit" method="post">
<input type="hidden" name="Id" value="@Model.Id">
<div asp-validation-summary="All" class="text-danger"></div>

<div class="mb-3">
<label asp-for="Name" class="form-label"></label>
<input asp-for="Name" class="form-control">


<button class="btn btn-outline-primary mt-3" type="submit">Update</button>
</form>